.app.dark {
    --bg-color: #111112;
    --inverted-bg-color: #cdcdcd;
    --primary-color: #254c7d;
    --secondary-color: #fff;
    --inverted-primary-color: #8a1414;
    --inverted-secondary-color: #111112;
}
