.app.dark {
    --bg-color: #111112;
    --inverted-bg-color: #cdcdcd;
    --primary-color: #0068ff;
    --secondary-color: #fff;
    --inverted-primary-color: #dbdbdb;
    --inverted-secondary-color: #111112;
}
