.app.light {
  --bg-color: #cdcdcd;
  --inverted-bg-color: #111112;

  --primary-color: #dbdbdb;
  --secondary-color: #111112;
  --inverted-primary-color: #0068ff;
  --inverted-secondary-color: #ffffff;
}