.Navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    padding: 20px;
    background: var(--inverted-bg-color);
}

.Links {
    margin-left: auto;
}

.MainLink {
    margin-right: 15px;
}
